#main{
    background-color: #FCF5EB;
}

.sign-in{
    background-color: #008069;
    border-color: #008069;
}

#dow-button{
    background-color: #25D366;
    border-color: black ;
    color: black;
}

#dow-button:hover, .logs:hover {
    background-color: black !important ;
    color: white !important;
}

#email-form , #login-form , #info-card, #phone-form, .num{
    border-color: black !important;
}

#next-button{
    border-color: #008069;
}

.sign-in:hover {
    background-color: #016c58 !important ;
    border-color: #016c58 !important;
}

.custom-switch:checked {
    background-color: black;
    border-color: black;
}

.custom-switch:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

#people{
    width: 1700px;
    height: 800px;
    object-fit: cover;
}

#pic{
    background-image: url("/assets/pexels-ron-lach-9212887.jpg");
    width: 1700px;
    height: 800px;
    object-fit: cover;
}

.iti {
    width: 40%;
}

.form-control {
    height: 58px;
}